<div>

  <ul class="tab-nav">
    <li ng-class="{active: currentTab == 'general'}"><a ng-click="currentTab='general'">General</a></li>
    <li ng-class="{active: currentTab == 'groups'}"><a ng-click="currentTab='groups'">Groups</a></li>
    <li ng-class="{active: currentTab == 'settings'}"><a ng-click="currentTab='settings'">Calendar Settings</a></li>
  </ul>

  <div ng-show="currentTab == 'general'">
    <div class="form-group">
      <label class="control-label">Event Title</label>
      <ui-select name="form-control" required ng-model="visualization.options.eventConfig.title">
        <ui-select-match placeholder="Choose column...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="column in columnNames | remove:visualization.options.eventConfig.start | remove:visualization.options.eventConfig.end | remove:visualization.options.eventConfig.groupBy">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">Start Date</label>
      <ui-select name="form-control" required ng-model="visualization.options.eventConfig.start">
        <ui-select-match placeholder="Choose column...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="column in columnNames | remove:visualization.options.eventConfig.title | remove:visualization.options.eventConfig.end | remove:visualization.options.eventConfig.groupBy">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">End Date</label>
      <ui-select name="form-control" ng-model="visualization.options.eventConfig.end" class="clearable">
        <ui-select-match allow-clear="true" placeholder="Choose column...">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="column in columnNames | remove:visualization.options.eventConfig.title | remove:visualization.options.eventConfig.start | remove:visualization.options.eventConfig.groupBy">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">Group by</label>
      <ui-select name="groupby" ng-model="visualization.options.eventConfig.groupBy" class="clearable">
        <ui-select-match allow-clear="true" placeholder="Choose column...">
          {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="column in columnNames | remove:visualization.options.eventConfig.title | remove:visualization.options.eventConfig.start | remove:visualization.options.eventConfig.end">
          <span ng-bind-html="column | highlight: $select.search"></span><span> </span>
          <small class="text-muted" ng-bind="columns[column].type"></small>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div ng-show="currentTab == 'groups'">
    <table class="table table-condensed col-table">
      <thead>
      <th>Name</th>
      <th>Color</th>
      </thead>
      <tbody>
      <tr ng-repeat="(name, options) in visualization.options.eventConfig.groups">
        <td>{{name}}</td>
        <td>
          <input class="form-control" type="color" ng-model="options.color"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="currentTab == 'settings'">
    <!-- not using regular validation (chartEditor.yAxisColumns.$invalid) due to a bug in ui-select with multiple choices-->
    <div class="form-group" ng-class="{'has-error': !visualization.options.calendarConfig.views || visualization.options.calendarConfig.views.length == 0}">
      <label class="control-label">Available Views</label>
      <ui-select multiple name="calendarViews" required ng-model="visualization.options.calendarConfig.views">
        <ui-select-match placeholder="Choose views...">{{$item}}</ui-select-match>
        <ui-select-choices repeat="view in calendarViews">
          <span ng-bind-html="view | highlight: $select.search"></span><span> </span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group">
      <label class="control-label">First day of the week</label>
      <select ng-options="day.value as day.name for day in weekDays" ng-model="visualization.options.calendarConfig.firstDay"
              class="form-control"></select>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.calendarConfig.weekends">
        <i class="input-helper"></i> Show weekends
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.calendarConfig.weekNumbers">
        <i class="input-helper"></i> Show week numbers
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.calendarConfig.eventLimit">
        <i class="input-helper"></i> Limit events per day
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="visualization.options.calendarConfig.showPopover">
        <i class="input-helper"></i> Show event details when pressed
      </label>
    </div>
  </div>

</div>
